*{
    padding: 0;
    margin: 0;
}

.login-img{
    width: 43vw;
    height: 85vh; 
    margin: 3vh 0 0 50vw;
}

.login{
    border: 2px solid rgba(123, 44, 191, 1);
    width: 28vw;
    height: 65vh;
    position: absolute;
    top: 20vh;
    left: 13vw;
    box-shadow: 2px 2px 2px grey;
    border-radius: 3px;
    text-align: left;
}

.login-title{
    text-align: left;
    font-size: 27px;
    color: rgba(123, 44, 191, 1);
    margin: 4vh 0 0 3vw;
}

.label-inp{
    font-size: 20px;
    margin: 6vh 0 -2vh 2.2vw;
    font-weight: bold;
}

.login-inputBox{
    width: 23vw;
    height: 5vh;
    margin: 0 0 0 5vh;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 4px;
    border: 1px solid rgba(123, 44, 191, 1);
}


.login-button, .cancel-button{
    margin: 8vh 0 0 2.5vw;
    width: 6vw;
    height: 5vh;
    background-color: rgba(123, 44, 191, 1);
    color: white;
    border: 0px;
    border-radius: 3px;
    transition: 0.5s ease;
}

.login-button:hover, .cancel-button:hover{
    transform: scale(1.1);
    background-color: rgb(155, 87, 219);
}

.logout{
    border: 2px solid rgba(123, 44, 191, 1);
    width: 28vw;
    height: 30vh;
    position: absolute;
    top: 35vh;
    left: 13vw;
    box-shadow: 2px 2px 2px grey;
    border-radius: 3px;
    text-align: left;
}

.logout-title{
    font-size: 20px;
    margin-top: 4vh;
}

.logout-button{
    margin: 10vh 0 0 10vw;
    width: 7vw;
    height: 6vh;
    background-color: black;
    color: white;
    border: 0px;
    border-radius: 3px;
    transition: 0.5s ease;
}

.logout-button:hover{
    transform: scale(1.1);
    background-color: rgb(234, 67, 67);
}